html{
  background-color:#F20075;
  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
li:hover{box-shadow: 0px 0px 20px  black;}
h2,h1{
  font-family: 'Faster One', cursive;
  font-size: 2.5em;
}

main{background-color:aqua;}

main section:nth-child(1) #grid-floats .grid-item:nth-child(odd){
  background-color: #B84B9E;
  animation-name: odd1;
  animation-duration: 20s;
  animation-iteration-count: 1000;
}
@keyframes odd1 {
    from {background-color: #B84B9E;}
    to {background-color: #FFCB00;}
  }

main section:nth-child(1) #grid-floats .grid-item:nth-child(even){
  background-color: #FFCB00;
  animation-name: even1;
  animation-duration: 20s;
  animation-iteration-count: 1000;
}
@keyframes even1 {
    from {background-color:  #FFCB00;}
    to {background-color: #B84B9E;}
  }

main section:nth-child(2){
  clear: both;
  padding-top: 10%;  
}
img{width:50%;}

main section:nth-child(1) #grid-floats .grid-item:nth-child(2) h3{
font-size:1.5vw;  
}

/* desktop view */



@media screen and (min-width: 1000px) {
  
  h2 {  
  position: relative;
  animation-name: h2;
  animation-duration: 10s;
  animation-iteration-count: 10000;
}
@keyframes h2 {
    0%   {left:0px; top:0px;}
    50%  {left:650px; top:0px;}
    100% {left:0px; top:0px;}
}
  
  #grid-flex {
  display:flex;
  flex-wrap: wrap; 
  text-align: center;  
  }
  #grid-flex .grid-item:nth-child(-n+2){
  width: 46%;
  margin:1%;
  }
  
  #grid-flex .grid-item:nth-child(n+3){
  width: 23%;
  margin:0.5%;
  }
  #grid-flex .grid-item:nth-child(odd){
  background-color: #00AAA0;
  animation-name: odd;
  animation-duration: 20s;
  animation-iteration-count: 1000;
  }
  @keyframes odd {
    from {background-color: #00AAA0;}
    to {background-color: #FF7A5A;}
  }
  #grid-flex .grid-item:nth-child(even){
  background-color: #FF7A5A;
  animation-name: even;
  animation-duration: 20s;
  animation-iteration-count: 1000;
  }
  @keyframes even {
    from {background-color: #FF7A5A;}
    to {background-color: #00AAA0;}
  }
  #grid-floats li:nth-child(-n+2){
  width: 46%;
  margin:1%;
  height: 22em;
  }
  #grid-floats .grid-item{
  float: left;
  margin:0.5%;
  width: 23%;
  height: 23em;
  text-align: center;
  }
}

/* tablet view */


@media screen and (min-width: 700px) and (max-width: 999px) {
  h2{
  position: relative;
  animation-name: h2;
  animation-duration: 10s;
  animation-iteration-count: 10000;
}
@keyframes h2 {
    0%   {left:0px; top:0px;}
    50%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}
  
  #grid-flex {
  display:flex;
  flex-wrap: wrap; 
  text-align: center;  
  }
  #grid-flex .grid-item:nth-child(-n+2){
  width: 47%;
  margin:1%
    
  }
  #grid-flex .grid-item:nth-child(n+3){
  width: 32%;
  margin:0.5%;
  }
  #grid-flex .grid-item:nth-child(odd){
  background-color: #B84B9E;
  }
    #grid-flex .grid-item:nth-child(even){
  background-color: #FFCB00;
  }
  #grid-floats li:nth-child(-n+2){
  width: 47%;
  margin:1%;
  height: 23em;
  }
  #grid-floats .grid-item{
  float: left;
  margin:0.5%;
  width: 32%;
  height:20em;
  text-align: center;
  }
 }
    /* mobile view */

@media screen and (max-width: 700px) {
  h2{
  position: relative;
  animation-name: h2;
  animation-duration: 10s;
  animation-iteration-count: 10000;
}
@keyframes h2 {
    0%   {left:0px; top:0px;}
    50%  {left:85px; top:0px;}
    100% {left:0px; top:0px;}
}

  #grid-flex {
  display:flex;
  flex-wrap: wrap; 
  text-align: center; 
  }
  #grid-flex .grid-item:nth-child(1){
  width: 91%;
  margin:1%
  }
  #grid-flex .grid-item:nth-child(n+2){
  width: 46%;
  margin:0.5%;
  }
  #grid-flex .grid-item:nth-child(odd){
  background-color: #00AAA0;
  }
    #grid-flex .grid-item:nth-child(even){
  background-color: #FF7A5A;
  }
  #grid-floats li:nth-child(1){
  width: 91%;
  margin:1%;
  height: 26em;
  }
  #grid-floats .grid-item{
  float: left;
  margin:0.5%;
  width: 46%;
  height: 26em;
  text-align: center;
  }
}
